<ion-view title="Albums">
    <ion-content>

      <div class="list">

        <a ng-repeat="item in albums" 
           href="#/app/profile"
           class="item item-thumbnail-left"           
           >
          <img ng-src="{{ item.picture.data.url }}" ng-click = "{{selectAlbum(item)}}">
          <h2>Name: {{ item.name }}</h2>
          <h4>Number of photos: {{ item.count }}</h4>
          <h4>Description: {{ item.description }}</h4>
        </a>

      </div>

    </ion-content>
</ion-view>