<ion-view title="Login Profile">
    <ion-content>
        <div class="wrapper">
            <div class="profile-ava mt-25">
                <img src="{{user.avatar}}" />
            </div>
            <div class="profile-name">
                <div class="mt-5 mb-20">
                    <h2>{{user.name}}</h2>
                </div>
            </div>
            <div class="white-box profile-data">
                <p><span>Email:</span> {{user.email}}</p>
                <p><span>Date of birth:</span> {{user.birthday}}</p>
                <p><span>Gender:</span> {{user.gender}}</p>
                <p><span>Public album:</span> <span id = "currAlbum"></span></p>
                <p><span>Type of collection: <div ng-app="app" ng-controller="LoginCtrl">
                    <dropdown-list data-items-list="itemsList" data-placeholder="type of collection"></dropdown-list></div></span></p>       
                <button class="button button-block button-positive" ng-click="goToAlbums()">Select the album</button>
                <button class="button button-block button-positive mt-10" ng-click="goToMap()">Your location</button>
            </div>
        </div>
    </ion-content>
</ion-view>