<ion-view view-title="Seek Tuning">
  <ion-content>
	<div class="list">
	  	<label class="item item-input item-stacked-label">
		  	<span class="input-label">Location:</span>
		    <input type="text" placeholder="{{placeholder_dis}}" on-return="closeKeyboard()" ng-model="distance">
	  	</label>
	  	<div ng-app="app" ng-controller="SearchCtrl" class="ml-10">
	  		<div class="input-label">Type of collection:</div>
            <dropdown-list data-items-list="itemsList" data-placeholder="type of collection"></dropdown-list>
    	</div>
	</div>	  
	 
  </ion-content>
  	<div class="bar bar-footer mb-10">
		<button class="button button-block button-positive mt-10" ng-click="goToUserList()">Save Settings</button>
	</div>
</ion-view>
