<ion-content>
  <div class="login-bg">
<!--      <div class="app-logo"></div>-->
      <div class="login-box text-center">
<!--          <h1>Welcome back!</h1>-->
      <button class="button button-block button-positive btn-fb-login" ng-click="checkLoginState()">
          <div class="input-group-addon">
              <span class="icons icon-login-fb" aria-hidden="true"></span>
          </div>
          Log in with Facebook
      </button>
  </div>

  <button class="button button-block button-positive" ng-click="logout()">FB Log Out</button>
  <div id="status"></div>
</ion-content>