/*--------------------- PROFILE -----------------------*/
.img-circle {
    border-radius: 50%;
}
.profile-ava {
    text-align: center;
}
.profile-ava img {
    border: 3px solid #fff;
    max-width: 300px;
}
.profile-name {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.white-box {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}
.profile-data span {
    font-weight: 600;
}
.profile-data p {
    color: #5f6692;
    padding: 10px 20px;
    border-bottom: 2px solid #d9d3df;
    margin-bottom: 0;
    font-size: 16px;
}
.profile-data p:last-child {
    border-bottom: none;
}
.ion-android-arrow-back:before {
    content: "\f124";
    color: #fff;
}

map {
  display: block;
  width: 100%;
  height: 90%;
}

.scroll {
  height: 100%;
}

/*--------------------- MARGINS -----------------------*/
.wrapper {
    padding: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
